<footer class="page-footer">
  <img class="logo" src="resources/logo.jpg" alt="Involve" />
  <div class="container">
    <div class="row">
      <div class="col s12 l3 center">
        <a class="quick-links" href="/involvement.html">
          <i class="material-icons small">timeline</i>Involvement
        </a>
      </div>
      <div class="col s12 l3 center">
        <a class="quick-links" href="/privacy-terms.html">
          <i class="material-icons small">vpn_key</i>Privacy & Terms
        </a>
      </div>
      <div class="col s12 l3 center">
        <a class="quick-links" href="/about-us.html">
          <i class="material-icons small">format_align_left</i>About us
        </a>
      </div>
      <div class="col s12 l3 center">
        <a class="quick-links" href="/contact-us.html">
          <i class="material-icons small">assignment_ind</i>Contact Us
        </a>
      </div>
    </div>
  </div>
  <p class="reg-details grey-text">
    <span>Reg. No. KKD/CA/378/2016</span>
    <span>Affiliated to Nehru Yuva Kendra Sangathan</span>
  </p>
</footer>
