<nav class="desktop-navigation hide-on-small-only">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">
      <img src="resources/logo.jpg" alt="Involve" /> <label>INVOLVE</label>
    </a>
    <ul id="nav-mobile" class="right">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav hide-on-med-and-up">
  <li>
    <div class="user-view">
      <div class="background"><img src="images/office.jpg" /></div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"/></a>
      <a href="#name"><span class="white-text name">John Doe</span></a>
      <a href="#email">
        <span class="white-text email">jdandturk@gmail.com</span>
      </a>
    </div>
  </li>
  <li>
    <a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a>
  </li>
  <li><a href="#!">Second Link</a></li>
  <li><div class="divider"></div></li>
  <li><a class="subheader">Subheader</a></li>
  <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a
  href="#"
  data-target="slide-out"
  class="sidenav-trigger sidenav hide-on-med-and-up"
>
  <i class="material-icons">menu</i>
</a>
