@import "../helper/variables.scss";
@import "../helper/media_queries_mixin.scss";
@import "../helper/common.scss";

.contact-us {
  .title {
    text-align: center;
    color: #5d5d5d;
    text-shadow: 0px 6px 5px #00000054;
    font-family: "Reenie Beanie", cursive;
    border-bottom: 1px solid #ccc;
  }
  .first-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    .address,
    .person {
      width: 100%;
      max-width: 100%;
    }
    .person {
      .card-content {
        min-height: 150px;
      }
    }
  }
  .address {
    max-width: 440px;
    margin: 10px auto 10px auto;
    background: $grey-1;
    color: $secondary-color;
    @include breakpoint(m) {
      max-width: 520px;
    }
    .card-title {
      color: $primary-color;
    }
  }
  .person {
    max-width: 310px;
    margin: 10px auto 10px auto;
    @include breakpoint(m) {
      // max-width: 520px;
    }
    .card-image {
      img {
        border-radius: 50%;
        padding: 10px;
        width: 100px;
      }
      .card-title {
        background: rgba(255, 255, 255, 0.45098039215686275);
        right: 0;
        padding: 10px 5px;
        color: $dark-2;
      }
    }
    .card-content {
      p {
        font-family: "Reenie Beanie", cursive;
        font-size: 24px;
        line-height: 1.2;
        color: #039be5;
      }
      span {
        font-weight: 600;
        color: #7b7676;
      }
    }
  }
  .address,
  .person {
    cursor: pointer;
    &:hover {
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14),
        0 5px 25px -2px rgba(0, 0, 0, 0.12), 0 12px 11px 0 rgba(0, 0, 0, 0.2) !important;
    }
    .card-action {
      padding: 6px 13px;
      a.phone_email {
        text-transform: lowercase !important;
        display: block;
        color: $dark-2 !important;
        text-align: left;
        font-size: 12px;
        letter-spacing: 0.9px;
        position: relative;
        margin-right: 0px !important;
        i {
          font-size: 14px;
          color: $secondary-color !important;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}
