@import "../helper/variables.scss";
@import "../helper/media_queries_mixin.scss";
@import "../helper/common.scss";

.main-page-content {
  min-height: 600px;
  width: 100%;
  max-width: 100%;
}

.home {
  .container {
    .title-section {
      margin-top: 80px;
      .logo {
        width: 60px;
      }
      .brand-name {
        margin: 0;
        font-size: 28px;
        text-shadow: 0px 2px 3px #a09a9b;
        color: #575656;
        text-transform: lowercase;
        letter-spacing: 22px;
        font-weight: 100;
      }
      .slogan-container {
        padding: 0px;
        padding-top: 20px;
        .slogan {
          margin: 0;
          font-size: 14px;
          color: #575656;
          text-transform: lowercase;
          letter-spacing: 4px;
          font-weight: 100;
          text-align: center;
        }
      }
    }
    .primary-block {
      width: 100%;
      min-height: 480px;
      background: $primary-color;
      // background-image: linear-gradient(to bottom right, #fff, $primary-color);
      position: relative;
      padding: 240px 0;
      .shape-top {
        position: absolute;
        width: 100%;
        background: #ffffff;
        height: 240px;
        border-radius: 0% 0% 0% 100%;
        top: 0px;
        box-shadow: 0px 11px 7px -6px rgba(44, 44, 44, 0.66);
      }
      .shape-bottom {
        position: absolute;
        width: 100%;
        background: #ffffff;
        height: 240px;
        border-radius: 0% 100% 0% 0%;
        bottom: 0px;
        box-shadow: 0px 1px 11px 1px rgba(44, 44, 44, 0.66);
      }
      .who-are-we {
        margin-bottom: 0;
        .graphic {
          text-align: center;
          i {
            color: #ffffff;
            font-size: 114px;
          }
        }
        .description {
          color: #fff;
          font-size: 18px;
          margin-top: 0;
          @include breakpoint(m) {
            font-size: 24px;
          }
          @include breakpoint(l) {
            font-size: 32px;
          }
        }
      }
    }
  }
}
