@import "../helper/variables.scss";
@import "../helper/media_queries_mixin.scss";
@import "../helper/common.scss";

.main-page-content {
  min-height: 600px;
  width: 100%;
  max-width: 100%;
}

.home {
  .container {
    .title-section {
      margin-top: 80px;
      .logo {
        width: 60px;
      }
      .brand-name {
        margin: 0;
        font-size: 28px;
        text-shadow: 0px 2px 3px #a09a9b;
        color: #575656;
        text-transform: lowercase;
        letter-spacing: 22px;
        font-weight: 100;
      }
      .slogan-container {
        padding: 0px;
        padding-top: 20px;
        .slogan {
          margin: 0;
          font-size: 14px;
          color: #575656;
          text-transform: lowercase;
          letter-spacing: 4px;
          font-weight: 100;
          text-align: center;
        }
      }
    }
    .primary-block {
      width: 100%;
      min-height: 480px;
      background: $primary-color;
      // background-image: linear-gradient(to bottom right, #fff, $primary-color);
      position: relative;
      padding: 240px 0;
      .shape-top {
        position: absolute;
        width: 100%;
        background: #ffffff;
        height: 240px;
        border-radius: 0% 0% 0% 100%;
        top: 0px;
        box-shadow: 0px 11px 7px -6px rgba(44, 44, 44, 0.66);
      }
      .shape-bottom {
        position: absolute;
        width: 100%;
        background: #ffffff;
        height: 240px;
        border-radius: 0% 100% 0% 0%;
        bottom: 0px;
        box-shadow: 0px 1px 11px 1px rgba(44, 44, 44, 0.66);
      }
      .who-are-we {
        margin-bottom: 0;
        @include breakpoint(m) {
          margin: 100px 0px;
        }
        .graphic {
          text-align: center;
          i {
            color: #ffffff;
            font-size: 114px;
          }
        }
        .description {
          color: #fff;
          font-size: 18px;
          margin-top: 0;
          @include breakpoint(m) {
            font-size: 24px;
          }
          @include breakpoint(l) {
            font-size: 32px;
          }
        }
      }
    }
    .secondary-block {
      width: 100%;
      background: #ffffff;
      // background-image: linear-gradient(to bottom right, #fff, $primary-color);
      position: relative;
      margin-bottom: 40px;
      .container {
        @include breakpoint(l) {
          max-width: 70%;
        }
      }
      .story,
      .vision {
        border-bottom: 1px solid $grey-2;
        padding-bottom: 40px;
        margin-bottom: 40px;
        h3.title {
          text-align: center;
          text-shadow: 0px 3px 1px $grey-1;
          letter-spacing: 3px;
          color: $secondary-color;
        }
        img.responsive-img {
          max-width: 270px;
          margin: 0 auto;
          display: block;
          @include breakpoint(m) {
            max-width: 380px;
          }
          @include breakpoint(l) {
            display: inline-block;
            width: 19%;
            vertical-align: top;
          }
        }

        .description {
          color: $dark-2;
          font-size: 18px;
          text-align: center;
          @include breakpoint(l) {
            font-size: 24px;
            text-align: left;
            display: inline-block;
            width: 80%;
          }
        }
      }

      .story .description {
        @include breakpoint(l) {
          text-align: right;
          float: left;
        }
      }
    }
    .third-block {
      margin: 100px auto;
      .slider {
        .slides .caption {
          h3 {
            color: $dark-2;
            background: rgba(255, 255, 255, 0.6705882352941176);
            padding: 10px;
            font-size: 32px;
          }
          h5 {
            color: $dark-2;
            background: rgba(255, 255, 255, 0.6705882352941176);
            padding: 10px;
            font-size: 14px;
            a {
              cursor: pointer;
              color: $dark-1;
            }
          }
        }
        .indicators {
          .indicator-item {
            background-color: $grey-2;
            &.active {
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }
}
