<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>About us | Involve</title>
    {{include_html "common/third_party_page_content.html"}}
    <link rel="stylesheet" type="text/css" href="styles/about_us.css" />
  </head>
  <body class="about-us">
    {{include_html "common/header.html"}}
    <div class="main-page-content">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h3>Who We Are</h3>
            <p class="flow-text">
              InVoLveCultural and Charitable Society is a forum of enthusiastic
              and likeminded people who have joined together with a vision to
              create a forum for supporting various social, cultural and
              educational activities.
            </p>

            <h4>Our Story</h4>
            <p class="flow-text">
              It started with a group of nostalgic companions who wanted to have
              a feel of socially ‘involved’ for the good cause and welfare of
              society. Starting in 2016 January 26th, the initial group was
              subsequently joined by a limited number of friends from various
              backgrounds, but with a common interest in social cause and
              welfare activities. InVoLveCultural and Charitable Society is
              registered under societies registration act XXI of 1860.
            </p>

            <h4>Our Mission</h4>
            <p class="flow-text">
              Our mission is to offer a helping hand to marginalized individuals
              and families to main stream of our society.
            </p>

            <h3>What We Do</h3>

            <h4>Our Vision</h4>
            <p class="flow-text">
              The vision of the InVoLveCultural and Charitable Society is to
              pave the strong foundation of overall social development
              initiatives to promise the social justice to all. We make sure the
              development and enhancement of such noble social causes through
              capacity building, developing mechanism and service delivery.
            </p>

            <h4>Our Focus</h4>

            <ol>
              <li class="flow-text">
                To nurture brotherhood and friendship among people and to work
                towards the upliftment and integrated development of the people
                in the area of operation irrespective of caste, creed, religion
                and political affiliations.
              </li>

              <li class="flow-text">
                To involve in social committed activities, support and
                participate in programs conducted by other groups or govt.
                agencies for social wellbeing and to motivate people to involve
                in such activities.
              </li>

              <li class="flow-text">
                <div>
                  To involve in activities of charitable nature:
                  <blockquote class="flow-text">
                    To provide financial and medical assistance for treatments
                    and rehabilitation.
                  </blockquote>
                  <blockquote class="flow-text">
                    To provide cloths and food to needy and poor people.
                  </blockquote>
                  <blockquote class="flow-text">
                    To provide or render monetary and/or other help and
                    assistance for the relief of individuals affected by natural
                    or other calamities.
                  </blockquote>
                  <blockquote class="flow-text">
                    To assist or support deserving students whom require
                    financial and moral support to attain better education.
                  </blockquote>
                </div>
              </li>

              <li class="flow-text">
                To contribute to the improvement of education through value
                based education, like establishing academic facilities,
                conducting seminars, workshops etc. in institutions; either by
                financially supporting or taking helps from any
                individuals/organizations that support our goals.
              </li>

              <li class="flow-text">
                To coordinate and participate in activities involving blood
                donation, organ donation etc., and to involve in motivating and
                educating the society about its importance. To hold, host or
                conduct medical camps; spreading necessary medical awareness for
                general improvement of health conditions.
              </li>

              <li class="flow-text">
                To research, conserve and promote creative and performing arts,
                literature and culture.
              </li>

              <li class="flow-text">
                To undertake all such lawful activities as are conducive to the
                attainment of the above objectives.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    {{include_html "common/footer.html"}}
  </body>
</html>
