<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Contact us | Involve</title>
    {{include_html "common/third_party_page_content.html"}}
    <link rel="stylesheet" type="text/css" href="styles/contact_us.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="contact-us">
    {{include_html "common/header.html"}}
    <div class="main-page-content">
      <div class="container">
        <div class="row">
          <div class="col s12 center">
            <div class="card address">
              <div class="card-content">
                <i class="material-icons large">location_on</i>
                <span class="card-title">Involve</span>
                <p>Cultural and Charitable Society</p>
                <p>Reg. No. KKD/CA/378/2016</p>
                <p>Address:136B-Perveen, Muttungal West PO, Vatakara-673106</p>
              </div>
            </div>
          </div>
          <!-- person details -->
          <div class="col s12 center">
            <div class="card person">
              <div class="card-image">
                <img src="resources/contact_us/1.jpg" />
                <span class="card-title">Dipak Chandran P</span>
              </div>
              <div class="card-content">
                <p>
                  "I am convenient because I require little markup to use
                  effectively."
                </p>
                <span>-President</span>
              </div>
              <div class="card-action">
                <a class="phone_email" href="mailto: bhavinbhavi@gmail.com">
                  bhavinbhavi@gmail.com
                </a>
                <a class="phone_email" href="tel: +919539409862">
                  +919539409862
                </a>
              </div>
            </div>
          </div>
          <!-- person row 2 -->
          <div class="col s12 m4 center">
            <div class="card person">
              <div class="card-image">
                <img src="resources/contact_us/1.jpg" />
                <span class="card-title">Dipak Chandran P</span>
              </div>
              <div class="card-content">
                <p>
                  "I am convenient because I require little markup to use
                  effectively."
                </p>
                <span>-President</span>
              </div>
              <div class="card-action">
                <a class="phone_email" href="mailto: bhavinbhavi@gmail.com">
                  bhavinbhavi@gmail.com
                </a>
                <a class="phone_email" href="tel: +919539409862">
                  +919539409862
                </a>
              </div>
            </div>
          </div>
          <div class="col s12 m4 center">
            <div class="card person">
              <div class="card-image">
                <img src="resources/contact_us/1.jpg" />
                <span class="card-title">Dipak Chandran P</span>
              </div>
              <div class="card-content">
                <p>
                  "I am convenient because I require little markup to use
                  effectively."
                </p>
                <span>-President</span>
              </div>
              <div class="card-action">
                <a class="phone_email" href="mailto: bhavinbhavi@gmail.com">
                  bhavinbhavi@gmail.com
                </a>
                <a class="phone_email" href="tel: +919539409862">
                  +919539409862
                </a>
              </div>
            </div>
          </div>
          <div class="col s12 m4 center">
            <div class="card person">
              <div class="card-image">
                <img src="resources/contact_us/1.jpg" />
                <span class="card-title">Dipak Chandran P</span>
              </div>
              <div class="card-content">
                <p>
                  "I am convenient because I require little markup to use
                  effectively."
                </p>
                <span>-President</span>
              </div>
              <div class="card-action">
                <a class="phone_email" href="mailto: bhavinbhavi@gmail.com">
                  bhavinbhavi@gmail.com
                </a>
                <a class="phone_email" href="tel: +919539409862">
                  +919539409862
                </a>
              </div>
            </div>
          </div>
          <!-- peron row 3 -->
          <div class="col s12 m4 center">
            <div class="card person">
              <div class="card-image">
                <img src="resources/contact_us/1.jpg" />
                <span class="card-title">Dipak Chandran P</span>
              </div>
              <div class="card-content">
                <p>
                  "I am convenient because I require little markup to use
                  effectively."
                </p>
                <span>-President</span>
              </div>
              <div class="card-action">
                <a class="phone_email" href="mailto: bhavinbhavi@gmail.com">
                  bhavinbhavi@gmail.com
                </a>
                <a class="phone_email" href="tel: +919539409862">
                  +919539409862
                </a>
              </div>
            </div>
          </div>
          <div class="col s12 m4 center">
            <div class="card person">
              <div class="card-image">
                <img src="resources/contact_us/1.jpg" />
                <span class="card-title">Dipak Chandran P</span>
              </div>
              <div class="card-content">
                <p>
                  "I am convenient because I require little markup to use
                  effectively."
                </p>
                <span>-President</span>
              </div>
              <div class="card-action">
                <a class="phone_email" href="mailto: bhavinbhavi@gmail.com">
                  bhavinbhavi@gmail.com
                </a>
                <a class="phone_email" href="tel: +919539409862">
                  +919539409862
                </a>
              </div>
            </div>
          </div>
          <div class="col s12 m4 center">
            <div class="card person">
              <div class="card-image">
                <img src="resources/contact_us/1.jpg" />
                <span class="card-title">Dipak Chandran P</span>
              </div>
              <div class="card-content">
                <p>
                  "I am convenient because I require little markup to use
                  effectively."
                </p>
                <span>-President</span>
              </div>
              <div class="card-action">
                <a class="phone_email" href="mailto: bhavinbhavi@gmail.com">
                  bhavinbhavi@gmail.com
                </a>
                <a class="phone_email" href="tel: +919539409862">
                  +919539409862
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{include_html "common/footer.html"}}
  </body>
</html>
