<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Home</title>
    {{include_html "common/third_party_page_content.html"}}
    <link rel="stylesheet" type="text/css" href="styles/home.css" />
    <script src="js/home.js"></script>
  </head>
  <body class="home">
    {{include_html "common/header.html"}}

    <div class="container main-page-content">
      <div class="row title-section">
        <div class="col s12 center">
          <img class="logo" src="resources/logo.jpg" alt="Involve" />
        </div>
        <div class="col s12 center"><h1 class="brand-name">INVOLVE</h1></div>
        <div class="col s12 center slogan-container">
          <h2 class="slogan">We raise by lifting others</h2>
        </div>
      </div>
    </div>

    {{include_html "common/footer.html"}}
  </body>
</html>
