<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Home</title>
    {{include_html "common/third_party_page_content.html"}}
    <link rel="stylesheet" type="text/css" href="styles/home.css" />
    <script src="js/home.js"></script>
  </head>
  <body class="home">
    {{include_html "common/header.html"}}

    <div class="container main-page-content">
      <img class="logo" src="resources/logo.jpg" alt="Involve" />
      <label>INVOLVE</label>
    </div>

    {{include_html "common/footer.html"}}
  </body>
</html>
