<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Home | Involve</title>
    {{include_html "common/third_party_page_content.html"}}
    <link rel="stylesheet" type="text/css" href="styles/home.css" />
    <script src="js/home.js"></script>
  </head>
  <body class="home">
    {{include_html "common/header.html"}}

    <div class="container main-page-content">
      <div class="row title-section">
        <div class="col s12 center">
          <img class="logo" src="resources/logo.jpg" alt="Involve" />
        </div>
        <div class="col s12 center"><h1 class="brand-name">INVOLVE</h1></div>
        <div class="col s12 center slogan-container">
          <h2 class="slogan">We raise by lifting others</h2>
        </div>
      </div>
      <!-- primary-block overflow -->
      <div class="primary-block">
        <div class="shape-top"></div>
        <div class="container">
          <div class="row who-are-we">
            <div class="col s12">
              <div class="graphic"><i class="material-icons"> blur_on </i></div>
              <p class="description">
                We are a forum of enthusiastic and like-minded people who have
                joined hands with the unified vision of creating a platform to
                support various social, cultural and educational activities.
              </p>
            </div>
          </div>
        </div>
        <div class="shape-bottom"><h3 class="title">Our story</h3></div>
      </div>
      <div class="secondary-block">
        <div class="container">
          <div class="row story">
            <div class="col s12">
              <img
                class="responsive-img"
                src="resources/story.jpg"
                alt="story"
              />
              <div class="description">
                It started with a group of nostalgic companions who wanted to
                have a feel of socially ‘involved’ for the good cause and
                welfare of society. Starting in 2016 January 26th, the initial
                group was subsequently joined by a limited number of friends
                from various backgrounds, but with a common interest in social
                cause and welfare activities. Involve Cultural and Charitable
                Society is registered under societies registration act XXI of
                1860. Our mission is to offer a helping hand to marginalized
                individuals and families to main stream of our society.
              </div>
            </div>
          </div>
          <div class="row vision">
            <div class="col s12">
              <h3 class="title">Our vision</h3>
              <img
                class="responsive-img"
                src="resources/vision.jpg"
                alt="vision"
              />
              <div class="description">
                The vision of the Involve Cultural and Charitable Society is to
                pave the strong foundation of overall social development
                initiatives to promise the social justice to all. We make sure
                the development and enhancement of such noble social causes
                through capacity building, developing mechanism and service
                delivery. Our main focus is to nurture brotherhood and
                friendship among people and to work towards the upliftment and
                integrated development of the people in the area of operation
                irrespective of caste, creed, religion and political
                affiliations.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="third-block">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="resources/home_slider/1.jpg" />
                    <!-- random image -->
                    <div class="caption center-align">
                      <h3>Rotary School, Kozhikode</h3>
                      <h5>
                        <a
                          href="https://www.facebook.com/involvevatakaraofficial/posts/1182091181978675"
                          target="_blank"
                        >
                          Click here to know more.
                        </a>
                      </h5>
                    </div>
                  </li>
                  <li>
                    <img src="resources/home_slider/2.jpg" />
                    <!-- random image -->
                    <div class="caption left-align">
                      <h3>Aralam, Kannur</h3>
                      <h5>
                        <a
                          href="https://www.facebook.com/involvevatakaraofficial/posts/968934716627657"
                          target="_blank"
                        >
                          Click here to know more.
                        </a>
                      </h5>
                    </div>
                  </li>
                  <li>
                    <img src="resources/home_slider/3.jpg" />
                    <!-- random image -->
                    <div class="caption right-align">
                      <h3>Muthanga, Wayanad</h3>
                      <h5>
                        <a
                          href="https://www.facebook.com/involvevatakaraofficial/posts/1182091181978675"
                          target="_blank"
                        >
                          Click here to know more.
                        </a>
                      </h5>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{include_html "common/footer.html"}}
  </body>
</html>
