<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Involvement | Involve</title>
    <!-- page meta info: start -->
    <meta
      name="Description"
      content="Involve Cultural and Charitable Society support various social,
      cultural and educational activities. Please find the latest activities list
      below.Cultural and Charitable Society activities and links to read more about
      the events and details"
    />
    <!-- page meta info: end -->
    <!-- Social share details -->
    <meta
      property="og:url"
      content="https://involve.org.in/involvement.html/"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Involve's involvements" />
    <meta
      property="og:description"
      content="Involve recent activities and involvements"
    />
    <meta property="fb:pages" content="involvevatakaraofficial" />
    <meta
      property="og:image"
      content="http://involve.org.in/resources/og_images/involve.org.in_involvement.html.png"
    />

    {{include_html "common/third_party_page_content.html"}}
    <link rel="stylesheet" type="text/css" href="styles/involvement.css" />
    {{include_html "common/react_library.html"}}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  </head>
  <body class="involvement">
    {{include_html "common/header.html"}}
    <div class="main-page-content">
      <div class="container">
        <div class="row">
          <h1 class="title">Our Involvements</h1>
          <div
            class="col s12 involvement-container"
            id="involvement-container"
          ></div>
        </div>
      </div>
    </div>
    {{include_html "common/footer.html"}}
    <script src="js/involvement.js"></script>
  </body>
</html>
