<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>
      Privacy Policy & Terms | Involve cultural and charitable society
    </title>
    <!-- page meta info: start -->
    <meta
      name="Description"
      content="Involve cultural and charitable society's financial assets comes
    from registered members only. We usually don't accept monetary
    contributions from outsiders. In the case of outsiders willing to
    donate money for our activities, they can do so with proper
    intimation to Involve officials. Such donors will receive an
    official acknowledgment letter with the signature from Involve and
    receipts undersigned by Treasurer/Secretary."
    />
    <!-- page meta info: end -->
    <!-- Google / Search Engine Tags -->
    <meta
      itemprop="name"
      content="Involve cultural and charitable society Privacy Policy & Terms"
    />
    <meta
      itemprop="description"
      content="Involve cultural and charitable society's financial assets comes
    from registered members only. We usually don't accept monetary
    contributions from outsiders. In the case of outsiders willing to
    donate money for our activities, they can do so with proper
    intimation to Involve officials. Such donors will receive an
    official acknowledgment letter with the signature from Involve and
    receipts undersigned by Treasurer/Secretary."
    />
    <meta
      itemprop="image"
      content="http://involve.org.in/resources/og_images/involve.org.in_privacy-terms.html.png"
    />
    <!-- Social share details -->
    <meta
      property="og:url"
      content="https://involve.org.in/privacy-terms.html"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Involve cultural and charitable society Privacy Policy & Terms"
    />
    <meta
      property="og:description"
      content="Involve cultural and charitable society's financial assets comes
    from registered members only. We usually don't accept monetary
    contributions from outsiders. In the case of outsiders willing to
    donate money for our activities, they can do so with proper
    intimation to Involve officials. Such donors will receive an
    official acknowledgment letter with the signature from Involve and
    receipts undersigned by Treasurer/Secretary."
    />
    <meta property="fb:pages" content="involvevatakaraofficial" />
    <meta
      property="og:image"
      content="http://involve.org.in/resources/og_images/involve.org.in_privacy-terms.html.png"
    />

    {{include_html "common/third_party_page_content.html"}}
    <link rel="stylesheet" type="text/css" href="styles/privacy_terms.css" />
  </head>
  <body class="privacy-terms">
    {{include_html "common/header.html"}}
    <div class="main-page-content">
      <div class="container">
        <h5>Privacy Policy & Terms</h5>
        <div class="row">
          <div class="col s12">
            <p class="flow-text">
              Involve cultural and charitable society's financial assets comes
              from registered members only. We usually don't accept monetary
              contributions from outsiders. In the case of outsiders willing to
              donate money for our activities, they can do so with proper
              intimation to Involve officials. Such donors will receive an
              official acknowledgment letter with the signature from Involve and
              receipts undersigned by Treasurer/Secretary.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>Our Focus</h4>
            <ol>
              <li class="flow-text">
                To nurture brotherhood and friendship among people and to work
                towards the upliftment and integrated development of the people
                in the area of operation irrespective of caste, creed, religion
                and political affiliations.
              </li>

              <li class="flow-text">
                To involve in social committed activities, support and
                participate in programs conducted by other groups or govt.
                agencies for social wellbeing and to motivate people to involve
                in such activities.
              </li>

              <li class="flow-text">
                <div>
                  To involve in activities of charitable nature:
                  <blockquote class="flow-text">
                    To provide financial and medical assistance for treatments
                    and rehabilitation.
                  </blockquote>
                  <blockquote class="flow-text">
                    To provide cloths and food to needy and poor people.
                  </blockquote>
                  <blockquote class="flow-text">
                    To provide or render monetary and/or other help and
                    assistance for the relief of individuals affected by natural
                    or other calamities.
                  </blockquote>
                  <blockquote class="flow-text">
                    To assist or support deserving students whom require
                    financial and moral support to attain better education.
                  </blockquote>
                </div>
              </li>

              <li class="flow-text">
                To contribute to the improvement of education through value
                based education, like establishing academic facilities,
                conducting seminars, workshops etc. in institutions; either by
                financially supporting or taking helps from any
                individuals/organizations that support our goals.
              </li>

              <li class="flow-text">
                To coordinate and participate in activities involving blood
                donation, organ donation etc., and to involve in motivating and
                educating the society about its importance. To hold, host or
                conduct medical camps; spreading necessary medical awareness for
                general improvement of health conditions.
              </li>

              <li class="flow-text">
                To research, conserve and promote creative and performing arts,
                literature and culture.
              </li>

              <li class="flow-text">
                To undertake all such lawful activities as are conducive to the
                attainment of the above objectives.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    {{include_html "common/footer.html"}}
  </body>
</html>
